.container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  align-self: flex-start;
  margin: 60px 0;
  margin-bottom: 30px;
  font-weight: 600;
  display: flex;
}

.title span {
  font-size: 1.3rem;
  margin-right: 10px;
  cursor: pointer;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.links {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
  font-size: 1.2rem;
  min-width: 200px;
}

.links div {
  padding: 5px 10px;
  border: 2px solid;
  border-radius: 5px;
}

.links a {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}

.tags {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tag {
  border: 1px solid;
  padding: 5px 5px;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: monospace;
  font-size: 1rem;
}

.desc {
  margin-top: 20px;
  text-indent: 10px;
  width: 100%;
  border-right: 1.5px solid;
}

@media (max-width: 750px) {
  .container {
    width: 90%;
  }
  .image {
    height: 200px;
    width: 300px;
  }
  .desc {
    margin-top: 20px;
    text-indent: 10px;
    width: 100%;
  }
  .links {
    width: 150px;
  }
}
