.container {
  height: 10vh;
  width: 100vw;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}
.links {
  flex: 1;
  margin-left: 10px;
}

.links a {
  text-decoration: none;
  margin-left: 10px;
  transition: 0.4s;
}

.links a:hover {
  text-decoration: underline;
}

.sun,
.moon {
  padding: 10px 10px;
  font-size: 1rem;
  transition: 0.6s;
  border-radius: 10%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sun {
  background-color: #fbd38d;
  color: #000;
}

.sun:hover {
  background-color: #fabf58;
}

.moon {
  background-color: #805ad5;
  color: #fff;
}

.moon:hover {
  background-color: #592fbb;
}

.menu {
  display: none;
  margin-left: 20px;
}

.mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spin {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

.flip {
  -webkit-animation: flip-horizontal-bottom 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

.menuItems {
  position: absolute;
  bottom: -130px;
  right: 0;
  padding: 15px;
  z-index: 2;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.menuItems a {
  display: block;
  text-decoration: underline;
  margin-bottom: 10px;
}
@media (max-width: 750px) {
  .nav {
    width: 90%;
  }
  .menu {
    display: flex;
  }

  .links {
    display: none;
  }
}

/* animation-flip */
@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

/* animation x */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* animation menu */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* -----------------------hand wave */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
