.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 2rem;
  width: 60%;

  font-size: 23px;
}
.nav span {
  display: inline-block;
  transition: 0.4s ease;
  cursor: pointer;
}

.logo {
  transition: 0.4s ease;
  cursor: pointer;
  font-weight: 800;
}
.logo:hover {
  transform: scale(1.1);
}
.links {
  flex: 1;
  width: min-content;
}

.links a {
  margin-left: 12px;
  text-decoration: none;
  display: inline-block;
  transition: 0.4s;
}
.links a:hover {
  transform: translateY(-3px);
}
.sun,
.moon {
  border-radius: 10%;
  padding: 8px 12px;

  display: inline-block;
  cursor: pointer;
  transition: 0.4s;
}
.sun {
  background-color: #fbd38d;
  color: black;
}
.sun:hover {
  background-color: #fabf58;
}
.moon {
  background-color: #805ad5;
  color: white;
}
.moon:hover {
  background-color: rgb(41, 11, 104);
}

.menu {
  display: none;
  font-size: 1.2rem;
  transition: 1.4s;
}
@media (min-width: 2000px) {
  .nav {
    width: 60%;
    font-size: 30px;
  }
  .logo {
    font-size: 2rem;
  }
}

@media (max-width: 1150px) {
  .nav {
    width: 60%;
  }
  .links {
    display: none;
  }
  .menu {
    display: contents;
  }
}

@media (max-width: 650px) {
  .nav {
    font-size: 20px;
    width: 80%;
  }
}
@media (max-width: 350px) {
  .nav {
    font-size: 18px;
    width: 100%;
  }
  .logo {
    min-width: 150px;
  }
}

/* -----------------------hand wave */
.logo:hover .wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
