@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap");

.heroText {
  font-family: monospace;
  font-weight: 600;
  font-size: 22px;
}
.heroText span {
  display: inline-block;
}

.p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 50%;
  font-size: 1.2rem;
}

.a {
  transition: 0.4s;
}
.a:hover {
  transform: scale(1.2);
}

/* =============== */
.span {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* animation */
@keyframes write {
  to {
    left: 100%;
  }
}
@keyframes move {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(-5px);
  }
  70% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
