.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  width: 300px;
  text-align: center;
}

.container p {
  font-size: 0.9rem;
  margin-top: 10px;
}

.container:hover .card {
  transform: scale(1.03);
}

.card {
  height: 150px;
  object-fit: cover;
  width: 250px;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
}

.tagContainer {
  display: flex;
  justify-content: space-between;
}

.tag {
  border: 2px solid;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}
