@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

h1 {
  font-size: 1.2rem;
  font-weight: 500;
  width: fit-content;
  position: relative;
  cursor: default;
}
h1::after {
  content: "";
  width: 50px;
  height: 10px;
  z-index: 100;
  left: 0;
  top: 21px;
  border-bottom: 2px solid;
  position: absolute;
}
